## Scraping car data from cars.com
    * https://medium.com/analytics-vidhya/scraping-car-prices-using-python-97086c30cd65

### Basic script

In [1]:
from bs4 import BeautifulSoup as bs
from requests import get
import pandas as pd
import os
import re
import ast

In [2]:
base_url =  "https://www.cars.com/for-sale/searchresults.action/?prMx=15000&rd=50&searchSource=QUICK_FORM&zc=97230"
response = get(base_url)
print(response)

html = get(base_url).text
soup = bs(html, 'lxml')
results = soup.find_all('div', class_= 'listing-row__details')
print(results)

<Response [200]>

In [5]:
for result in results:
    car_name=result.find("h2", class_= "listing-row__title").text.strip()
    car_age=result.find("div", class_="listing-row__stocktype").text.strip()
    car_price=result.find("div", class_="payment-section").find("span", class_="listing-row__price").text.strip()
    try:
        car_mileage=result.find("div", class_="payment-section").find("span", class_="listing-row__mileage").text.strip()
    except AttributeError:
        pass
    car_ex_color = result.find("ul", class_="listing-row__meta").li.text.strip().split()[-1]
    car_int_color = result.find_all('li')[1].text.strip().split()[-1]
    car_trans = result.find_all('li')[2].text.strip().split()[-1]
    car_dt= result.find_all('li')[3].text.strip().split()[-1]
    
    
#     print(car_name)
#     print(car_age)
#     print(car_price)
#     print(car_mileage)
#     print(car_ex_color)
#     print(car_int_color)
#     print(car_trans)
#     print(car_dt)
#     print("----------------------")

In [6]:
# car_int_color = result.find("ul", class_="listing-row__meta").find(["li",  "strong"], text = re.compile('Int'))
# print(car_int_color)

# car = ast.literal_eval(soup.div.attrs["savedfeatureinstance vehicle"])["bodystyleName"]
# print(car)

car = result.find("div", class_="listing-row__save switch-favorite unsaved saveVehicleHeart compare-switch-favorite")
print(car)

<div class="listing-row__save switch-favorite unsaved saveVehicleHeart compare-switch-favorite" data-customlink="page-state" data-linkname="save-add" id="812637002" savedfeatureinstance="" vehicle='{"bodystyleName":"Minivan","sellerId":65952243,"customerId":5392439,"isCpoVehicle":false,"price":14998,"listingId":812637002,"mkId":20012,"mkNm":"Dodge","mdId":21249,"mdNm":"Grand Caravan","trimId":54813,"trimName":"AVP/SE","modelYearId":58487,"modelYear":2016,"stkTyp":"Used","state":"OR","zipcode":"97230"}'>
<svg class="icon icon-heart">
<use xlink:href="/static/www/fdc75c3812d2/app/images/srp-svg/symbolMap.svg#heart"></use>
</svg>
<span class="label">Save</span>
</div>

### Write a functi

In [7]:
def get_info():
    name = []
    stocktype = []
    mileage = []
    price = []
    ext_color = []
    int_color = []
    trans = []
    drivetrain = []
    data = [name, stocktype, price, mileage, ext_color, int_color, trans, drivetrain]
    
    base_url =  "https://www.cars.com/for-sale/searchresults.action/?prMx=15000&rd=50&searchSource=QUICK_FORM&zc=97230"
    html = get(base_url).text
    soup = bs(html, 'lxml')
    results = soup.find_all('div', class_= 'listing-row__details')    
    
    for result in results:
        try:
            name.append(result.find("h2", class_= "listing-row__title").text.strip())
        except AttributeError:
            name.append("NA")
        
        try:
            stocktype.append(result.find("div", class_="listing-row__stocktype").text.strip())
        except AttributeError:
            stocktype.append("NA")
        
        try:
            price.append(result.find("div", class_="payment-section").find("span", class_="listing-row__price").text.strip())
        except AttributeError:
            price.append("NA")
        
        try:
            mileage.append(result.find("div", class_="payment-section").find("span", class_="listing-row__mileage").text.strip())
        except AttributeError:
            mileage.append("NA")
            
        try:
            ext_color.append(result.find("ul", class_="listing-row__meta").li.text.strip().split()[-1])
        except AttributeError:
            ext_color.append("NA")

        try:
            int_color.append(result.find_all('li')[1].text.strip().split()[-1])
        except AttributeError:
            int_color.append("NA")


        try:
            trans.append(result.find_all('li')[2].text.strip().split()[-1])
        except AttributeError:
            trans.append("NA")
            
        try:
            drivetrain.append(result.find_all('li')[3].text.strip().split()[-1])
        except AttributeError:
            drivetrain.append("NA")
            
    return data

In [15]:
# get_info()

In [35]:
name = []
stocktype = []
mileage = []
price = []
ext_color = []
int_color = []
trans = []
drivetrain = []
data = [name, stocktype, price, mileage, ext_color, int_color, trans, drivetrain]

for i in range(1, 36):
    base_url =  "https://www.cars.com/for-sale/searchresults.action/?page={}&perPage=100&prMx=15000&rd=50&searchSource=PAGINATION&sort=relevance&zc=97230".format(i)
    html = get(base_url).text
    soup = bs(html, 'lxml')
    results = soup.find_all('div', class_= 'listing-row__details')

# base_url =  "https://www.cars.com/for-sale/searchresults.action/?page=1&perPage=100&prMx=15000&rd=50&searchSource=PAGINATION&sort=relevance&zc=97230"
# html = get(base_url).text
# soup = bs(html, 'lxml')
# results = soup.find_all('div', class_= 'listing-row__details')    

    for result in results:
        try:
            name.append(result.find("h2", class_= "listing-row__title").text.strip())
        except AttributeError:
            name.append("NA")

        try:
            stocktype.append(result.find("div", class_="listing-row__stocktype").text.strip())
        except AttributeError:
            stocktype.append("NA")

        try:
            price.append(result.find("div", class_="payment-section").find("span", class_="listing-row__price").text.strip())
        except AttributeError:
            price.append("NA")

        try:
            mileage.append(result.find("div", class_="payment-section").find("span", class_="listing-row__mileage").text.strip())
        except AttributeError:
            mileage.append("NA")

        try:
            ext_color.append(result.find("ul", class_="listing-row__meta").li.text.strip().split()[-1])
        except AttributeError:
            ext_color.append("NA")

        try:
            int_color.append(result.find_all('li')[1].text.strip().split()[-1])
        except AttributeError:
            int_color.append("NA")


        try:
            trans.append(result.find_all('li')[2].text.strip().split()[-1])
        except AttributeError:
            trans.append("NA")

        try:
            drivetrain.append(result.find_all('li')[3].text.strip().split()[-1])
        except AttributeError:
            drivetrain.append("NA")

In [36]:
data = pd.DataFrame({"Name" : name, 
                     "Stocktype" : stocktype, 
                     "Mileage (Miles)": mileage, 
                     "Price" : price,
                    "Ext_color": ext_color,
                    "Int_color": int_color,
                    "Transmission": trans,
                    "Drivetrain": drivetrain})
data.head()

,Name,Stocktype,Mileage (Miles),Price,Ext_color,Int_color,Transmission,Drivetrain
0,2011 Nissan Frontier SV,Used,"116,657 mi.","$10,991",Black,Gray,Automatic,drive
1,2017 Honda Accord EX-L V-6,Used,"41,725 mi.","$14,491",Black,Black,Automatic,FWD
2,2016 Nissan Sentra SV,Used,"65,953 mi.","$8,991",White,Gray,CVT,FWD
3,2009 Land Rover LR2 HSE,Used,"25,420 mi.","$10,991",Black,Black,Automatic,drive
4,2011 Audi A6 3.0T Prestige quattro,Used,"78,612 mi.","$8,991",Black,Black,Automatic,AWD
5,2013 Subaru XV Crosstrek 2.0i Premium,Used,"71,841 mi.","$10,991",Red,Beige,CVT,AWD
6,2014 Chrysler 300C Base,Used,"75,188 mi.","$14,705",Gray,Black,Automatic,AWD
7,2019 Hyundai Elantra SEL,Used,"25,599 mi.","$13,702",Silver,Gray,Automatic,FWD
8,2017 Hyundai Sonata Base,Used,"75,442 mi.","$10,519",White,Gray,Automatic,FWD
9,2018 Nissan Sentra SL,Used,"56,325 mi.","$10,630",Blue,Black,CVT,FWD
10,2018 Nissan Sentra S,Used,"50,233 mi.","$10,720",Black,Black,CVT,FWD
11,2007 Honda Accord LX,Used,"140,099 mi.","$3,988",Silver,Gray,Automatic,FWD
12,2012 FIAT 500 Sport,Used,"49,397 mi.","$8,488",Yellow,Black,Automatic,FWD
13,2018 Nissan Sentra S,Used,"50,876 mi.","$10,729",Gray,Black,CVT,FWD
14,2013 Subaru Outback 2.5i,Used,"85,747 mi.","$9,988",Gray,Black,CVT,AWD
15,2018 Nissan Sentra S,Used,"40,401 mi.","$10,974",Silver,Black,CVT,FWD
16,2010 Ford Expedition XLT,Used,"186,315 mi.","$4,995",Silver,Beige,Automatic,RWD
17,2008 Audi A4 2.0T quattro,Used,"124,392 mi.","$5,995",White,Black,Automatic,AWD
18,2019 Ford Fiesta SE,New,NA,"$13,910",Gray,Black,Automatic,FWD
19,2004 Ford F-350 Super Duty,Used,"177,257 mi.","$11,993",White,Beige,Automatic,drive

In [38]:
# Dataframe shape
data.shape

(3499, 8)

In [40]:
# Export 
data.to_csv('Resources/cardata.csv')

In [31]:
# TESTING SCRAPING MULTIPLE PAGES - it works

# name2=[]
# for i in range(1, 36):
#     base_url =  "https://www.cars.com/for-sale/searchresults.action/?page={}&perPage=100&prMx=15000&rd=50&searchSource=PAGINATION&sort=relevance&zc=97230".format(i)
#     html = get(base_url).text
#     soup = bs(html, 'lxml')
#     results = soup.find_all('div', class_= 'listing-row__details')
    
#     for result in results:
#         try:
#             name2.append(result.find("h2", class_= "listing-row__title").text.strip())
#         except AttributeError:
#             name2.append("NA")